<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.BoardMapper">
	<select id="selectBoardList" resultType="Board">
		SELECT		@rownum := @rownum -1 as rownum,
					ta.b_id as bId,
					ta.b_title as bTitle,
					ta.b_content as bContent,
					ta.b_writer as bWriter,
					ta.b_datetime as bDateTime
		
		FROM 		lc_board ta
		INNER JOIN (SELECT @rownum := (SELECT COUNT(*)+1 FROM lc_board ta)) tb
		
	<!--
		SELECT		ROWNUM() as rownum,
					b_id as bId,
					b_title as bTitle,
					b_content as bContent,
					b_writer as bWriter,
					b_datetime as bDateTime
		FROM		lc_board
	 -->	
	</select>
	<select id="selectBoardRow" resultType="Board">
		SELECT		@rownum := @rownum -1 as rownum,
					ta.b_id as bId,
					ta.b_title as bTitle,
					ta.b_content as bContent,
					ta.b_writer as bWriter,
					ta.b_datetime as bDateTime
		FROM		lc_board ta
		INNER JOIN (SELECT @rownum := (SELECT COUNT(*)+1 FROM lc_board ta)) tb
		WHERE		ta.b_id = #{bId}
	</select>
</mapper>