<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.BoardMapper">

	<!-- 게시판 목록 -->
	<select id="selectBoardList" parameterType="Pagination" resultType="Board">
		SELECT		ROW_NUMBER()
					OVER(ORDER BY	b_group asc, b_order desc) as rownum,
					b_id as bId,
					b_title as bTitle,
					b_content as bContent,
					b_writer as bWriter,
					b_datetime as bDateTime,
					b_group as bGroup,
					b_order as bOrder,
					b_depth as bDepth
			
		FROM 		lc_board
		WHERE		b_id > 0
			<if test="searchType == 'all'.toString()">
					AND b_title LIKE CONCAT('%', #{keyword}, '%')
					OR	b_content LIKE CONCAT('%', #{keyword}, '%')
					OR	b_writer LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'title'.toString()">
					AND b_title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'content'.toString()">
					AND b_content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'title+content'.toString()">
					AND b_title LIKE CONCAT('%', #{keyword}, '%')
					OR	b_content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'writer'.toString()">
					AND b_writer LIKE CONCAT('%', #{keyword}, '%')
			</if>
		ORDER BY 	rownum desc
		LIMIT 		#{pageNum}, #{perPage}
	
	<!-- 
		SELECT		@rownum := @rownum -1 as rownum,
					ta.b_id as bId,
					ta.b_title as bTitle,
					ta.b_content as bContent,
					ta.b_writer as bWriter,
					ta.b_datetime as bDateTime
		
		FROM 		lc_board ta
		INNER JOIN (SELECT @rownum := (SELECT COUNT(*)+1 FROM lc_board ta ORDER BY ta.b_id DESC)) tb
	 -->
		
	<!--
		SELECT		ROWNUM() as rownum,
					b_id as bId,
					b_title as bTitle,
					b_content as bContent,
					b_writer as bWriter,
					b_datetime as bDateTime
		FROM		lc_board
	 -->	
	</select>
	
	<!-- 게시판 상세 -->
	<select id="selectBoardRow" parameterType="Board" resultType="Board">
		SELECT		ta.b_id as bId,
					ta.b_title as bTitle,
					ta.b_content as bContent,
					ta.b_writer as bWriter,
					ta.b_datetime as bDateTime,
					ta.b_group as bGroup,
					ta.b_order as bOrder,
					ta.b_depth as bDepth,
					
					tb.f_id			as fId,
					tb.f_originname as fileOriginName,
					tb.f_uploadname as fileUploadName
					
		FROM		lc_board ta, lc_boardfile tb
		WHERE		ta.b_id = #{bId} AND ta.b_id = tb.b_id
	</select>
	
	<!-- 게시판 작성 -->
	<insert id="writeBoard" parameterType="Board">
		INSERT INTO lc_board(
			b_title,
			b_content,
			b_writer,
			b_group,
			b_order,
			b_depth
		) VALUES (
			#{bTitle},
	        #{bContent},
	        #{bWriter},
	        '0',
	        '1',
	        '0'
		)
		<selectKey resultType="int" keyProperty="bId" order="AFTER">
        	SELECT LAST_INSERT_ID()
    	</selectKey>     
	</insert>
	<update id="groupUpdateBoard" parameterType="Board">			
		UPDATE		lc_board
		SET			b_group = b_id
		WHERE		b_id = LAST_INSERT_ID()
		 
	</update>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE		lc_board
		SET			b_title = #{bTitle},
					b_content = #{bContent}
		WHERE 		b_id = #{bId}     
	</update>
	
	<delete id="deleteBoard" parameterType="Board">
		DELETE FROM	lc_board
		WHERE		b_id = #{bId}
	</delete>
	
	<update id="orderUpBoard" parameterType="Board">
		UPDATE		lc_board
		SET			b_order = b_order+1
		WHERE 		b_group = #{bGroup} AND b_order > #{bOrder}
	</update>
	<insert id="replyBoard" parameterType="Board">
		INSERT INTO lc_board(
			b_title,
			b_content,
			b_writer,
			b_group,
			b_order,
			b_depth
		) VALUES (
			#{bTitle},
	        #{bContent},
	        #{bWriter},
	        #{bGroup},
	        #{bOrder}+1,
	        #{bDepth}+1
		)
		<selectKey resultType="int" keyProperty="bId" order="AFTER">
        	SELECT LAST_INSERT_ID()
    	</selectKey>     
	</insert>
	
	<!-- 게시판 개수 -->
	<select id="getCountBoard" parameterType="Pagination" resultType="int">
		SELECT		COUNT(*)
		FROM		lc_board
		WHERE		b_id > 0
			<if test="searchType == 'all'.toString()">
					AND b_title LIKE CONCAT('%', #{keyword}, '%')
					OR	b_content LIKE CONCAT('%', #{keyword}, '%')
					OR	b_writer LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'title'.toString()">
					AND b_title LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'content'.toString()">
					AND b_content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'title+content'.toString()">
					AND b_title LIKE CONCAT('%', #{keyword}, '%')
					OR	b_content LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'writer'.toString()">
					AND b_writer LIKE CONCAT('%', #{keyword}, '%')
			</if>
	</select>
	
	<!-- 게시판 파일 등록 -->
	<insert id="addBoardFile" parameterType="Board">
		INSERT INTO lc_boardfile(
			b_id,
			f_originname,
			f_uploadname
		) VALUES (
			#{bId},
			#{fileOriginName},
			#{fileUploadName}
		)
	
	</insert>
	

</mapper>